<%= render "shared/errors", obj: @article %>

<table class="attr">
  <tr>
    <th><%= form.label :title %></th>
    <td><%= form.text_field :title, size: 20 %></td>
  </tr>
  <tr>
    <th><%= form.label :body %></th>
    <td><%= form.text_area :body, rows: 10, cols: 45 %></td>
  </tr>
  <tr>
    <th><%= form.label :released_at, for: "article_released_at_1i" %></th>
    <td><%= form.datetime_select :released_at,
              start_year: 2000, end_year: Time.current.year + 1,
              use_month_numbers: true %></td>
  </tr>
  <tr>
    <th><%= form.label :expired_at, for: "article_expired_at_1i" %></th>
    <td>
      <div>
        <%= form.datetime_select :expired_at,
          start_year: 2000, end_year: Time.current.year + 1,
          use_month_numbers: true %>
      </div>
    </td>
  </tr>
  <tr>
    <th><%= Article.human_attribute_name(:member_only) %></th>
    <td>
      <%= form.check_box :member_only %>
      <%= form.label :member_only %>
    </td>
  </tr>
</table>
