
<nav class="menubar">
    <ul>
        <%= menu_link_to "TOP", :root %>
        <%= menu_link_to "ニュース", :articles %>
        <%= menu_link_to "ブログ", "#" %>
        <%= menu_link_to "会員名簿", :members %>
        <%= menu_link_to "管理ページ", "#" %>
    </ul>
</nav>