<h2>ログイン</h2>
<form id="login_form">
    <div>
        <label>ユーザー名：</label>
        <input type="text">
    </div>
    <div>
        <label>パスワード：</label>
        <input type="password">
    </div>
    <div>
        <input type="submit" value="ログイン">
    </div>
</form>