<%= render "shared/login_form" %>

<h2>最新ニュース</h2>
<ul>
    <% 5.times do |i| %>
        <li><%= link_to  "ニュース", "#" %></li>
    <% end %>
</ul>

<h2> 会員のブログ</h2>
<ul>
    <% 5.times do |i| %>
        <li><%= link_to "ブログ", "#" %></li>
    <% end %>
</ul>