<% @page_title = "会員情報の編集" %>

<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to  "会員の詳細に戻る", @member %></div>

<%= form_for @member do |form| %>
    <%= render "form", form: form %>
    <div><%= form.submit %></div>
<% end %>